<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="container text-center">
  <div class="">
    <h3>Create a New pet:</h3>
    <form class="form new-pet-form">
      <fieldset>
        <div class="mb-3 form-group">
          <label for="pet-name" class="form-label">Pet Name:</label>
          <input class="form-input" type="text" id="pet-name" name="pet-name" placeholder="Pet Name"/>
        </div>
        <div class="mb-3 form-group">
          <label for="pet-funding" class="form-label">Cost ($):</label>
          <input class="form-input" type="text" id="pet-funding" placeholder="Adoption Fee" name="pet-funding" />
        </div>
        <div class="form-group mb-3">
          <label for="pet-desc">Description:</label>
          <textarea class="form-input" id="pet-desc" name="pet-desc"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </fieldset>
    </form>
  </div>

  {{#if pets.length}}
  <div class="col-md-6 pet-list">
    <h3>Current Appointments:</h3>

    {{#each pets as |pet|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/pet/{{pet.id}}">{{pet.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{pet.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>