<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="container text-center">
  <div class="">
    <h3>Create a New pet:</h3>
    <form class="form new-pet-form" enctype="multipart/form-data">
      <fieldset>
        <div class="mb-3 form-group">
          <label for="pet-name" class="form-label">Pet Name:</label>
          <input class="form-input" type="text" id="pet-name" name="pet-name" placeholder="Pet Name"/>
        </div>
        <div class="form-group mb-3">
          <label for="pet-desc">Description:</label>
          <input class="form-input" type="text" id="pet-desc" name="pet-desc" placeholder="Fun Fact Here"></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="pet-picture">Upload JPEG Image:</label>
          <input class="form-input" type="file" id="pet-picture" name="pet-picture"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<script src="./js/surrender.js"></script>