<div class=" text-center">
  <div class="text-center">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="container text-center">
  <div class="">
    <h3>Create a New Appointment:</h3>
    <form class="form new-pet-form">
      <fieldset>
        <legend>Create An Appointment</legend>
        <div class="mb-3 form-group">
          <label for="pet-name" class="form-label">Pet name:</label>
          <input type="text" id="pet-name" class="form-input" placeholder="Pet Name" name="pet-name">
        </div>
        <div class="mb-3 form-group">
          <label for="pet-funding" class="form-label">Adoption Fee:</label>
          <input type="text" id="pet-funding" class="form-input" placeholder="Adoption Fee" name="pet-funding">
        </div>
        <div class="mb-3 form-group">
          <label for="pet-desc" class="form-label">Appointment Time:</label>
          <input type="text" id="pet-desc" class="form-input" placeholder="Pet Time" name="pet-desc">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>

  {{#if pets.length}}
  <div class="container text-center pet-list">
    <h3>Current Appointments:</h3>


    {{#each pets as |pet|}}
    <div class="container text-center">

      <div class="md-8">
        <h4><a href="/pet/{{pet.id}}">{{pet.name}}</a></h4>
      </div>
      <div class="md-4">
        <button class="btn btn-sm btn-danger" data-id="{{pet.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>