<div class="container text-center">
  <div class="">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="container text-center">
  <div class="">
    <h3>Create a New Appointment:</h3>
    <form class="form new-appointment-form">
      <fieldset>
        <legend>Create An Appointment</legend>
        <div class="mb-3 form-group">
          <label for="appointment-name" class="form-label">Pet name:</label>
          <input type="text" id="appointment-name" class="form-input" placeholder="Pet Name" name="appointment-name">
        </div>
        <div class="mb-3 form-group">
          <label for="appointment-funding" class="form-label">Adoption Fee:</label>
          <input type="text" id="appointment-funding" class="form-input" placeholder="Adoption Fee" name="appointment-funding">
        </div>
        <div class="mb-3 form-group">
          <label for="appointment-desc" class="form-label">Appointment Time:</label>
          <input type="text" id="appointment-desc" class="form-input" placeholder="Appointment Time" name="appointment-desc">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>

  {{#if appointments.length}}
  <div class="container text-center appointment-list">
    <h3>Current Appointments:</h3>

    {{#each appointments as |appointment|}}
    <div class="container text-center">
      <div class="md-8">
        <h4><a href="/appointment/{{appointment.id}}">{{appointment.name}}</a></h4>
      </div>
      <div class="md-4">
        <button class="btn btn-sm btn-danger" data-id="{{appointment.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>